<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserInfoMapper">
	<resultMap id="UserInfoMap" type="com.chm.fj.entity.UserInfo">
		<id column="userID" property="userID" jdbcType="VARCHAR" />
		<result column="userAccount" property="userAccount" jdbcType="VARCHAR" />
		<result column="userPass" property="userPass" jdbcType="VARCHAR" />
		<result column="createDte" property="createDte" jdbcType="VARCHAR" />
		<result column="userIcon" property="userIcon" jdbcType="VARCHAR" />
		<result column="userStatus" property="userStatus" jdbcType="CHAR" />
		<result column="valiDte" property="valiDte" jdbcType="VARCHAR" />
		<result column="operatorID" property="operatorID" jdbcType="VARCHAR" />
		<result column="ownerID" property="ownerID" jdbcType="VARCHAR" />
		<result column="userRow1" property="userRow1" jdbcType="VARCHAR" />
		<result column="userRow2" property="userRow2" jdbcType="VARCHAR" />
		<result column="userRow3" property="userRow3" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 表名称 -->
	<sql id="tableName">uc_user_info</sql>
	<!-- 所有字段 -->
	<sql id="baseColumnList">
		ui.userID, ui.userAccount, ui.userPass, ui.createDte, ui.userIcon,
		ui.userStatus, ui.valiDte, ui.operatorID,
		ui.ownerID, ui.userRow1, ui.userRow2, ui.userRow3
	</sql>
	<!-- 关键字段 -->
	<sql id="breviaryColumn">ui.userID, ui.userAccount, ui.userIcon,ui.createDte,
		ui.operatorID</sql>
	<!-- 不使用直接添加是因为如果有唯一值判断且又可以为空时，会出现空重复的BUG -->
	<insert id="doCreate" parameterType="pd">
		insert into
		<include refid="tableName" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userID != null">
				userID,
			</if>
			<if test="userAccount != null and userAccount !=''">
				userAccount,
			</if>
			<if test="userPass != null and userPass !=''">
				userPass,
			</if>
			<if test="createDte != null and createDte !=''">
				createDte,
			</if>
			<if test="userIcon != null and userIcon !=''">
				userIcon,
			</if>
			<if test="userStatus != null and userStatus !=''">
				userStatus,
			</if>
			<if test="valiDte != null and valiDte !=''">
				valiDte,
			</if>
			<if test="operatorID != null and operatorID !=''">
				operatorID,
			</if>
			<if test="ownerID != null and ownerID !=''">
				ownerID,
			</if>
			<if test="userRow1 != null and userRow1 !=''">
				userRow1,
			</if>
			<if test="userRow2 != null and userRow2 !=''">
				userRow2,
			</if>
			<if test="userRow3 != null and userRow3 !=''">
				userRow3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userID != null and userID !=''">
				#{userID,jdbcType=VARCHAR},
			</if>
			<if test="userAccount != null and userAccount !=''">
				#{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userPass != null and userPass !=''">
				#{userPass,jdbcType=VARCHAR},
			</if>
			<if test="createDte != null and createDte !=''">
				#{createDte,jdbcType=VARCHAR},
			</if>
			<if test="userIcon != null and userIcon !=''">
				#{userIcon,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null and userStatus !=''">
				#{userStatus,jdbcType=CHAR},
			</if>
			<if test="valiDte != null and valiDte !=''">
				#{valiDte,jdbcType=VARCHAR},
			</if>
			<if test="operatorID != null and operatorID !=''">
				#{operatorID,jdbcType=VARCHAR},
			</if>
			<if test="ownerID != null and ownerID !=''">
				#{ownerID,jdbcType=VARCHAR},
			</if>
			<if test="userRow1 != null and userRow1 !=''">
				#{userRow1,jdbcType=VARCHAR},
			</if>
			<if test="userRow2 != null and userRow2 !=''">
				#{userRow2,jdbcType=VARCHAR},
			</if>
			<if test="userRow3 != null and userRow3 !=''">
				#{userRow3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="doUpdate" parameterType="pd">
		update
		<include refid="tableName" />
		<set>
			<if test="userAccount != null and userAccount !=''">
				userAccount = #{userAccount,jdbcType=VARCHAR},
			</if>
			<if test="userPass != null and userPass !=''">
				userPass = #{userPass,jdbcType=VARCHAR},
			</if>
			<if test="createDte != null and createDte !=''">
				createDte = #{createDte,jdbcType=VARCHAR},
			</if>
			<if test="userIcon != null and userIcon !=''">
				userIcon = #{userIcon,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null and userStatus !=''">
				userStatus = #{userStatus,jdbcType=CHAR},
			</if>
			<if test="valiDte != null and valiDte !=''">
				valiDte = #{valiDte,jdbcType=VARCHAR},
			</if>
			<if test="operatorID != null and operatorID !=''">
				operatorID = #{operatorID,jdbcType=VARCHAR},
			</if>
			<if test="ownerID != null and ownerID !=''">
				ownerID = #{ownerID,jdbcType=VARCHAR},
			</if>
			<if test="userRow1 != null and userRow1 !=''">
				userRow1 = #{userRow1,jdbcType=VARCHAR},
			</if>
			<if test="userRow2 != null and userRow2 !=''">
				userRow2 = #{userRow2,jdbcType=VARCHAR},
			</if>
			<if test="userRow3 != null and userRow3 !=''">
				userRow3 = #{userRow3,jdbcType=VARCHAR},
			</if>
		</set>
		where userID = #{userID,jdbcType=VARCHAR}
	</update>
	<!-- 查询用户列表 listPage -->
	<select id="listPagePd" parameterType="page" resultType="pd">
		SELECT
		<include refid="breviaryColumn" />
		FROM
		<include refid="tableName" />
		ui
		WHERE 1=1
		<if test="pd.searKey != null and pd.searKey != ''"><!-- 模糊查询 -->
			and (
			ui.userAccount LIKE CONCAT(CONCAT('%', #{pd.searKey}),'%')
			or
			ui.userID LIKE CONCAT(CONCAT('%', #{pd.searKey}),'%')
			)
		</if>
		<if test="pd.userAccount != null and pd.userAccount !=''">
			and ui.userAccount = #{pd.userAccount,jdbcType=VARCHAR}
		</if>
		<if test="pd.userPass != null and pd.userPass !=''">
			and ui.userPass = #{pd.userPass,jdbcType=VARCHAR}
		</if>
		<if test="pd.createDte != null and pd.createDte !=''">
			and ui.createDte = #{pd.createDte,jdbcType=VARCHAR}
		</if>
		<if test="pd.userIcon != null and pd.userIcon !=''">
			and ui.userIcon = #{pd.userIcon,jdbcType=VARCHAR}
		</if>
		<if test="pd.userStatus != null and pd.userStatus !=''">
			and ui.userStatus = #{pd.userStatus,jdbcType=CHAR}
		</if>
		<if test="pd.valiDte != null and pd.valiDte !=''">
			and ui.valiDte = #{pd.valiDte,jdbcType=VARCHAR}
		</if>
		<if test="pd.operatorID != null and pd.operatorID !=''">
			and ui.operatorID = #{pd.operatorID,jdbcType=VARCHAR}
		</if>
		<if test="pd.ownerID != null and pd.ownerID !=''">
			and ui.ownerID = #{pd.ownerID,jdbcType=VARCHAR}
		</if>
		<if test="pd.userRow1 != null and pd.userRow1 !=''">
			and ui.userRow1 = #{pd.userRow1,jdbcType=VARCHAR}
		</if>
		<if test="pd.userRow2 != null and pd.userRow2 !=''">
			and ui.userRow2 = #{pd.userRow2,jdbcType=VARCHAR}
		</if>
		<if test="pd.userRow3 != null and pd.userRow3 !=''">
			and ui.userRow3 = #{pd.userRow3,jdbcType=VARCHAR}
		</if>
		order by ui.createDte desc
	</select>
	<select id="findPdById" parameterType="string"
		resultType="pd">
		select
		<include refid="baseColumnList" />
		FROM
		<include refid="tableName" />
		ui
		where ui.userID = #{id,jdbcType=VARCHAR}
	</select>
</mapper>