<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chm.fj.dao.UserInfoMapper">
	<resultMap id="UserInfoMap" type="com.chm.fj.entity.UserInfo">
		<result column="userID" property="userID" jdbcType="VARCHAR" />
		<result column="userName" property="userName" jdbcType="VARCHAR" />
		<result column="userPass" property="userPass" jdbcType="VARCHAR" />
		<result column="creatDte" property="creatDte" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="tableName">fj_user_info</sql>
	<sql id="baseColumnList">ui.userID, ui.userName,ui.userPass,ui.creatDte</sql>
	<!-- 不使用直接添加是因为如果有唯一值判断且又可以为空时，会出现空重复的BUG -->
	<insert id="doCreate" parameterType="pd">
		insert into
		<include refid="tableName" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userID != null and userID != ''">
				userID,
			</if>
			<if test="userName != null and userName != ''">
				userName,
			</if>
			<if test="userPass != null and userPass != ''">
				userPass,
			</if>
			<if test="creatDte != null and creatDte != ''">
				creatDte,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userID != null and userID != ''">
				#{userID,jdbcType=VARCHAR},
			</if>
			<if test="userName != null and userName !=''">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPass != null and userPass != ''">
				#{userPass,jdbcType=VARCHAR},
			</if>
			<if test="creatDte != null and creatDte != ''">
				#{creatDte,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="doUpdate" parameterType="pd">
		update uc_role_info
		<set>
			<if test="userName != null and userName != ''">
			userName = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPass != null and userPass != ''">
			userPass = #{userPass,jdbcType=VARCHAR},
			</if>
			<if test="creatDte != null and creatDte != ''">
			creatDte = #{creatDte,jdbcType=VARCHAR}
			</if>
		</set>
		where userID = #{userID,jdbcType=VARCHAR}
	</update>
</mapper>